<form id="formQuotation" autocomplete="off" 
      action="<%= PATH_SAVE_BILL %>" 
      method="post"
      enctype="multipart/form-data"
      onsubmit="createSpinner()">

  <!--  -->      
  <section>    
    
    <div class="flex-row mg-b-l">
      <label class=""></label> 
      <p class="fc-green">ผู้ออกเอกสาร (หัวกระดาษ)</p>
    </div> 

    <!--  -->
    <div class="flex-row input-group">
      <label title="HEADER_BILL_LOGO_FILE">* อัปภาพโหลดโลโก้</label> 
      <input class="pd-l-m" type="file"  accept=".png"
             id="HEADER_BILL_LOGO_FILE" 
             name="HEADER_BILL_LOGO_FILE" 
             title="ภาพโลโก้ ขนาด 200x220px รับเฉพาะ .png เท่านั้น"
             value="<%= settingsBill?.HEADER_BILL_LOGO_FILE ?? '' %>"
             placeholder="HEADER_BILL_LOGO_FILE">
    </div>
    

    <div class="flex-row input-group">
      <label title="HEADER_BILL_IMAGE">* ชื่อภาพโลโก้</label> 
      <input class="pd-l-m" type="text" 
             readonly
             value="<%= settingsBill?.HEADER_BILL_IMAGE ?? '' %>"
             placeholder="">
    </div>

    <!--  -->
    <div class="flex-row input-group">
      <label title="HEADER_COMPANY_NAME">* ชื่อบริษัท</label> 
      <input class="pd-l-m" type="text" 
             required
             name="HEADER_COMPANY_NAME" id="HEADER_COMPANY_NAME" 
             value="<%= settingsBill?.HEADER_COMPANY_NAME ?? '' %>"
             placeholder="HEADER_COMPANY_NAME">
    </div>

    <!--  -->
    <div class="flex-row input-group">
      <label title="HEADER_LINE_2">* หัวกระดาษบรรทัดที่ 2</label> 
      <input class="pd-l-m" type="text" 
             required
             name="HEADER_LINE_2" id="HEADER_LINE_2" 
             value="<%= settingsBill?.HEADER_LINE_2 ?? '' %>"
             placeholder="HEADER_LINE_2">
    </div>

    <!--  -->
    <div class="flex-row input-group">
      <label title="HEADER_LINE_3">* หัวกระดาษบรรทัดที่ 3</label> 
      <input class="pd-l-m" type="text" 
             required
             name="HEADER_LINE_3" id="HEADER_LINE_3" 
             value="<%= settingsBill?.HEADER_LINE_3 ?? '' %>"
             placeholder="HEADER_LINE_3">
    </div>

    <!--  -->
    <div class="flex-row input-group">
      <label title="DOC_REMARK">* หมายเหตุ (สูงสุด 3 บรรทัด)</label> 
      <textarea class="colg-25 vd pd-m" rows="3" 
                title="สูงสุด 3บรรทัด"
                style="resize:none;overflow: hidden;"
                data-rows-min = "1"
                data-rows-max = "3"
                id="DOC_REMARK" name="DOC_REMARK"
                placeholder="หมายเหตุท้ายกระดาษ"><%= settingsBill?.DOC_REMARK ?? '' %></textarea>
    </div>


  </section>    

  <!-- Buttons/Save -->
  <section class="flex-row justify-content-center mg-t-xxl">
    <button class="btn-xlh btn-sm bg-save" type="submit">
      <i class="fas fa-save"></i> บันทึกการตั้งค่าบิลเงินสด
    </button>
  </section>

</form>

