<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>  

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <!-- SweetAlert2 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <script src="/cdn/sweetalert2.all.min.js"></script>

  <% if(!global.IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/pagination5btns3.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/tableFix1col.css?v=<%= time %>"> 
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/customers.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/customers.min.css?v=<%= time %>">
  <% }  %>

</head>
<body>
  <!-- header -->
  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <% 
    const isItem = item != null
  %>

  <header class="header-title bg-goldenrod">
    <p class="al-c fc-white">
      <i class="fas fa-user-clock mg-r-l"></i> 
      <span><%= title %></span>
    </p>
  </header>

  
  <main>    

    
    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** LEFT *****************************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- LEFT -->
    <section class="main-left">

      <form id="mainForm" class="" autocomplete="off" 
            onsubmit="createSpinner()"
            action="<%= PATH_SAVE %>" method="post">

        <!-- hidden -->
        <input type="hidden" name="rpp" value="<%= rpp %>">
        <input type="hidden" name="sip" value="<%= sip %>">
        <input type="hidden" name="page" value="<%= page %>">
        
        <!--  -->
        <input type="hidden" id="_id" name="_id" value="<%= isItem ? item._id : '' %>">

        <!-- #1 : Toolbar-->
        <div class="toolbar-ctn">

          <button type="button" class="btn-xlh btn-sm bg-new pd-r-l pd-l-l" 
                  onclick="event.preventDefault();newJs(event)">
            <i class="fas fa-plus-circle pd-r-m"></i>สร้างใหม่
          </button>

          <button type="button" class="btn-xlh btn-sm bg-print pd-r-l pd-l-l"
                  onclick="event.preventDefault();printJs(event)">
            <i class="fas fa-print pd-r-m"></i>พิมพ์
          </button>

          <button type="submit" class="btn-xlh btn-sm bg-save pd-r-l pd-l-l">
            <i class="fas fa-save pd-r-m"></i>บันทึก
          </button>
        </div>

        <!-- User Information -->
        <div class="form-body">

          <!-- Row1 -->
          <div class="flex-row">
            <!--  -->
            <div class="col-sm-3 input-group">
              <label class="pd-r-s al-l lh-label" title="เลขที่ลูกค้า">
                <i class="fas fa-hashtag mg-r-m"></i>เลขที่ลูกค้า
              </label>
              <input class="al-c no-arrows" type="number" id="customerId" name="customerId" 
                     required readonly
                     placeholder="เลขที่ลูกค้า" readonly
                     value="<%= isItem ? item.customerId : '' %>">
            </div>

            <!--  -->
            <div class="col-sm-4 input-group">
              <label class="pd-r-s al-l lh-label" title="ประเภท">
                <i class="fas fa-tags"></i> ประเภท
              </label>
              <select class="al-c" name="customerType" id="customerType">
                <% if( isItem ){ %>
                  <option value="">-</option>
                  <option <%= item.customerType == 'personal' ? 'selected' : '' %> value="personal">บุคคล</option>
                  <option <%= item.customerType == 'organization' ? 'selected' : '' %> value="organization">องค์กร</option>
                <% }else{ %>
                  <option value="">-</option>
                  <option value="personal">บุคคล</option>
                  <option value="organization">องค์กร</option>
                <% } %>
              </select>
            </div>

            <!--  -->
            <div class="col-sm-3 input-group">
              <label class="pd-r-s al-l lh-label" title="สถานะ">
                <i class="fas fa-flag"></i> สถานะ
              </label>
              <select class="al-c" name="customerStatus" id="customerStatus">
                <% if( isItem ){ %>
                  <option <%= item.customerStatus == 'active' ? '' : 'selected' %> value="">-</option>
                  <option <%= item.customerStatus == 'active' ? 'selected' : '' %> value="active">active</option>
                <% }else{ %>
                  <option value="-">-</option>
                  <option value="active">active</option>
                <% } %>
              </select>
            </div>

          </div> <!-- Row1 -->

          <!-- Row2 -->
          <div class="flex-row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="customerName">
                <i class="fas fa-font"></i> ชื่อ *
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerName" name="customerName" placeholder="ชื่อ"
                     required
                     value="<%= isItem ? item.customerName : '' %>">
            </div>  

          </div> <!-- Row2 -->    

          <!-- Row9 -->
          <div class="flex-row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="customerTaxId">
                <i class="fas fa-user"></i> ผู้ติดต่อ
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="ผู้ติดต่อ"
                     id="customerContactPerson" name="customerContactPerson" 
                     value="<%= isItem ? item.customerContactPerson : '' %>">
            </div>
          </div> <!-- Row9-->

          <!-- Row3 -->
          <div class="flex-row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="customerAddress2">
                <i class="fas fa-map-marker-alt"></i> ที่อยู่1
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerAddress1" name="customerAddress1" placeholder="ที่อยู่1"
                     value="<%= isItem ? item.customerAddress1 : '' %>">
            </div>
          </div> <!-- Row3 -->    

          <!-- Row4 -->
          <div class="flex-row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="customerAddress2">
                <i class="fas fa-map-marker-alt"></i> ที่อยู่2
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerAddress2" name="customerAddress2" placeholder="ที่อยู่2"
                     value="<%= isItem ? item.customerAddress2 : '' %>">
            </div>
          </div> <!-- Row4 -->    

          <!-- Row5 -->
          <div class="flex-row mg-t-s">
            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="customerPhone">
                <i class="fas fa-phone"></i> โทรศัพท์
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerPhone" name="customerPhone" 
                     placeholder="โทรศัพท์ เช่น โทรฯ 081-111-1111 (ใส่ข้อความตามต้องการ)"
                     value="<%= isItem ? item.customerPhone : '' %>">
            </div>

            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="customerEmail">
                <i class="fas fa-envelope"></i> อีเมล
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerEmail" name="customerEmail" 
                     placeholder="อีเมล เช่น อิเมล์ wasankds@gmail.com (ใส่ข้อความตามต้องการ)"
                     value="<%= isItem ? item.customerEmail : '' %>">
            </div>
          </div> <!-- Row5 -->    

          <!-- Row6 -->
          <div class="flex-row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="customerWebsite">
                <i class="fas fa-globe"></i> เว็บไซต์
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="customerWebsite" name="customerWebsite" 
                     placeholder="เว็บไซต์ เช่น เว็บ wasankds.com (ใส่ข้อความตามต้องการ)"
                     value="<%= isItem ? item.customerWebsite : '' %>">
            </div>
          </div> <!-- Row6 -->    

          <!-- Row8 -->
          <div class="flex-row mg-t-s">
            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="customerTaxId">
                <i class="fas fa-id-card"></i> เลขประจำตัวผู้เสียภาษี
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="เลขประจำตัวผู้เสียภาษี"
                     id="customerTaxId" name="customerTaxId" 
                     pattern="<%= global.CUSTOMER_TAXID_PATTERN %>"
                     title="<%= global.CUSTOMER_TAXID_DESCRIPTION %>"
                     value="<%= isItem ? item.customerTaxId : '' %>">
            </div>

            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="customerIdentityId">
                <i class="fas fa-id-card"></i> เลขประจำตัวประชาชน
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="เลขประจำตัวประชาชน"
                     id="customerIdentityId" name="customerIdentityId" 
                     pattern="<%= global.CUSTOMER_IDENTITYID_PATTERN %>"
                     title="<%= global.CUSTOMER_IDENTITYID_DESCRIPTION %>"
                     value="<%= isItem ? item.customerIdentityId : '' %>">
            </div>
          </div> <!-- Row8-->





        </div>

      </form>

    </section>
      
    
    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** RIGHT ****************************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- RIGHT -->
    <section class="main-right">

      <!-- Search -->
      <form class="toolbar-ctn pd-b-m" id="searchForm" action="<%= PATH_MAIN %>" method="get" >

        <!-- -->
        <input type="hidden" name="load_id" value="<%= load_id %>">        

        <!--  -->
        <div class="flex-row">
          <input class="flex-9 al-c clickable" type="search"
                 id="sip" name="sip" placeholder="รหัสผู้ใช้, ชื่อผู้ใช้, ชื่อ"
                 value="<%= sip ? sip : '' %>">        
          <button class="btn-xlh btn-sm bg-search pd-l-l pd-r-l" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>

        <!--  -->
        <div class="flex-row">
          <label class="al-r pd-r-s">แถว/หน้า</label>
          <select class="al-c" 
                  name="rpp" id="rpp" onchange="this.form.submit()">
            <option value="20" <%= rpp == '20' ? 'selected' : '' %> >20</option>
            <option value="30" <%= rpp == '30' ? 'selected' : '' %> >30</option>
            <option value="50" <%= rpp == '50' ? 'selected' : '' %> >50</option>
            <option value="100" <%= rpp == '100' ? 'selected' : '' %> >100</option>
          </select>
        </div>

      </form>

      <!-- Pagination5btns -->
      <div class="pgMainCtn">
        <%- include('partials/pagination5btns3.ejs') %>
      </div>

      <!-- ตาราง -->
      <section class="">

        <!-- 
        **********************************************************
        **********************************************************
        **********************************************************
        *********************** Table ****************************
        **********************************************************
        **********************************************************
        **********************************************************
        -->

        <!-- ตาราง -->
        <div id="tableCtn" class="table-ctn">

          <table>

            <!--  -->
            <colgroup>
              <col style="width: 1%;">
              <col style="width: auto;">
              <col style="width: auto;">
              <col style="width: 1%;">
            </colgroup>

            <!--  -->
            <thead id="tableHeader">
              <tr>
                <th class="al-c pd-l-s pd-r-s"><i class="fas fa-edit"></i></th>
                <th class="al-c clickable" onclick="sortTableJs(this, 1)" title="เลขที่ลูกค้า">
                    <i class="fas fa-hashtag"></i>
                </th>
                <th class="al-c clickable" onclick="sortTableJs(this, 2)" title="ชื่อ">
                  <i class="fas fa-font"></i> 
                </th>
                <th class="al-c pd-l-s pd-r-s"><i class="fas fa-trash-alt"></i></th>
              </tr>
            </thead>

            <tbody id="tableContent">
              <% data.forEach( (obj,index) => { %>
              <%
                const lineSwap = index%2 == 0 ? 'bg-line-swap' : ''
                const classLoad = obj._id == load_id ? 'bg-load-active' : 'bg-load-inactive'
                const class1Color = obj.customerStatus == 'active' ? 'fc-blue' : 'fc-gray fx-x'
                const class2Color = obj.customerStatus == 'active' ? 'fc-green' : 'fc-gray fx-x' 
              %>

              <!-- mg-s ที่ปุ่มมีผลต่อความสูงของแถว -->
              <tr class="<%= index%2 == 0 ? 'bg-line-swap' : 'bg-main-color' %>">

                <td class="al-c" title="<%= (page-1)*rpp+(index+1) %>">
                  <form action="<%= PATH_LOAD %>" method="post" style="width: 100%">
                    <!-- hidden-loop -->
                    <input type="hidden" name="_id" value="<%= obj._id %>">
                    <input type="hidden" name="load_id" value="<%= obj._id %>">
                    <input type="hidden" name="rpp" value="<%= rpp %>">
                    <input type="hidden" name="sip" value="<%= sip %>">
                    <input type="hidden" name="page" value="<%= page %>">
                    <button type="submit" class="mg-s pd-l-l pd-r-l pd-t-s pd-b-s <%= classLoad %>">
                      <i class="fas fa-edit"></i>
                    </button>
                  </form>
                </td>

                <td class="pd-l-s al-c nowrap t-customerId <%= class1Color %>" title="<%= obj.customerId %>">
                  <%= obj.customerId %>
                </td>

                <td class="pd-l-s nowrap <%= class1Color %>" title="<%= obj.customerName %>">
                  <%= obj.customerName && obj.customerName.length > 30 ? obj.customerName.substring(0, 30) + '...' : obj.customerName %>
                </td>

                <td class="al-c">
                  <% if(obj.isCanDelete  && obj.canDelete != false  ){ %>
                    <form class="" action="<%= PATH_DELETE %>" method="post">
                      <!-- hidden-loop -->
                      <input type="hidden" name="idToDelete" value="<%= obj._id %>">
                      <input type="hidden" name="customerId" value="<%= obj.customerId %>">
                      <!-- hidden -->
                      <input type="hidden" name="load_id" value="<%= load_id %>">
                      <input type="hidden" name="rpp" value="<%= rpp %>">
                      <input type="hidden" name="sip" value="<%= sip %>">
                      <input type="hidden" name="page" value="<%= page %>">
                      <!--  -->
                      <!-- btn-delete ใช้สำหรับ SWal -->
                      <button type="submit" class="mg-s btn-delete bg-delete pd-l-l pd-r-l pd-t-s pd-b-s">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                  <% }else{ %>
                    <span class="fc-gray">-</span>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>  

      </section>

    </section>

  </main>  

  <%- include('partials/footer') %>

  <!--  -->
  <script type="text/javascript">
    var PATH_MAIN = `<%= PATH_MAIN %>` ;     
    var PREFIX = '<%= PREFIX %>' ; 
    var PATH_PRINT = `<%= PATH_PRINT %>` ;
  </script>

  <% if(!global.IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <script type="text/javascript" src="/js/customers.js?v=<%= time %>"></script>
  <% } else { %>
  <script src="/js-min/customers.obf.js"></script>
  <% }  %>

</body>
</html>














