
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <!-- SweetAlert2 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <script src="/cdn/sweetalert2.all.min.js"></script>
  <!-- Flatpkr -->
  <link rel="stylesheet" href="/cdn/flatpickr.min.css">
  <script src="/cdn/flatpickr.js"></script>

  <% if(!global.IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/paginationItems.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/tableFix1col.css?v=<%= time %>"> 
  <link rel="stylesheet" href="/css/modal.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/items.css?v=<%= time %>"> 
  <% } else { %>
  <link rel="stylesheet" href="/css-min/items.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <%
    const isItem = item != null
  %>

  <header class="header-title">
    <p class="al-c fc-white">
      <i class="fa-solid fa-box mg-r-l"></i> 
      <span><%= title %></span>
    </p>
  </header>

  <main >

    <!-- Main Form -->
    <form action="<%= PATH_SAVE %>" id="mainFormCtn"
          method="post"  enctype="multipart/form-data">

      <!-- hidden -->
      <input type="hidden" name="loadId" value="<%= loadId %>">
      <input type="hidden" name="page" value="<%= pageAct %>">
      <input type="hidden" name="rpp" value="<%= rpp %>">
      <input type="hidden" name="sip" value="<%= sip %>">  
      <input type="hidden" name="scid" value="<%= scid %>">
      <input type="hidden" name="sis" value="<%= sis %>">

      <!-- Toolbar -->
      <section id="toolbarCtn">
          
        <!-- U ดูได้อย่างเดียว -->
        <% if( ["A","O"].includes(user.userAuthority) ){ %>
        <button class="btn-xlh btn-sm bg-new pd-r-l pd-l-l" 
                onclick="event.preventDefault();clearForm(event)">
          <i class="fas fa-plus-circle pd-r-m"></i>สร้างใหม่
        </button>
        <% } %>

        <button class="btn-xlh btn-sm bg-print pd-r-l pd-l-l" 
                onclick="event.preventDefault();printItemsTableJs(this)">
          <i class="fas fa-print pd-r-m"></i>พิมพ์
        </button>

        <!-- U ดูได้อย่างเดียว -->
        <% if( ["A","O"].includes(user.userAuthority) ){ %>
        <button type="submit" class="btn-xlh btn-sm bg-save pd-r-l pd-l-l">
          <i class="fas fa-save pd-r-m"></i>บันทึก
        </button>
        <% } %>
  
      </section>
  
      <!-- 
      **********************************************************
      **********************************************************
      **********************************************************
      *********************** Form *****************************
      **********************************************************
      **********************************************************
      **********************************************************
      -->

      <!-- Form -->
      <section id="formCtn">
        
        <!-- #1  -->
        <div class="flex-row">

          <!--  -->
          <div class="col-sm-4 input-group">
            <label class="mg-r-s" title="Item ID">
              <i class="fas fa-id-badge"></i>
              <span>ไอดี</span>
              <span class="fc-lime">*</span>
            </label>
            <input class="al-c" type="text" 
                   placeholder="ไอดี"
                   id="itemId" name="itemId" 
                   required
                   <%= isItem && item.itemId ? 'readonly' : '' %>
                   title="<%= ITEM_TYPE_DESCRIPTION %>"
                   pattern="<%= ITEM_TYPE_PATTERN %>"
                   value="<%= isItem ? item.itemId : '' %>" >
          </div>
  
          <!--  -->
          <div class="col-sm-4 input-group">
            <label class="pd-r-s">
              <i class="fas fa-layer-group"></i>
              <span>หมวดหมู่</span><span class="fc-blue mg-l-m">*</span>
            </label>
            <!--  -->
            <select class="al-l pd-l-m" title="หมวดหมู่"
                    required
                    id="categoryId" name="categoryId" >
              <option value="">--- หมวดหมู่ ---</option>      
              <% dataItemsCategories.forEach( obj => { %>
              <option value="<%= obj.categoryId %>" <%= ( isItem && item.categoryId == obj.categoryId) ? 'selected' : '' %>>
                [<%= obj.categoryId %>] <%= obj.categoryName %>
              </option>
              <% }) %>
            </select>
          </div>
  
          <!--  -->
          <div class="col-sm-2 input-group">
            <label class="pd-r-s">
              <i class="fas fa-flag"></i>
              <span>สถานะ</span>
              <span class="fc-lime">*</span>
            </label>
            <select class="al-c" title="สถานะ"
                    <%= ['U'].includes(user.userAuthority) ? 'disabled' : '' %>
                    id="itemStatus" name="itemStatus">
              <option value="">-</option>              
              <option value="active" <%= (isItem && item.itemStatus == 'active') ? 'selected' : '' %> >active</option>              
            </select>
          </div>
        </div>
  
        <!-- #2 -->
        <div class="flex-row">
          <!--  -->
          <div class="col-f input-group">
            <label class="pd-r-s">
              <i class="fas fa-font"></i>
              <span>ชื่อ</span>
              <span class="fc-lime">*</span>
            </label>
            <div class="modalCtn">
              <input class="al-l pd-l-m  w-100" type="text" placeholder="ชื่อ" 
                     <%= ['U'].includes(user.userAuthority) ? 'readonly' : '' %>
                     title="ชื่อไอเท็ม" autocomplete="off"
                     required 
                     id="itemName" name="itemName" 
                     value="<%= isItem ? item.itemName : '' %>">
              <div class="modal">
                <div class="modal-list"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-row">
          
          <!--  -->
          <div class="col-sm-2-5 input-group">
            <label class="pd-r-s">
              <i class="fas fa-money-bill-wave"></i>
              <span>ราคา</span>
            </label>
            <input class="al-r pd-r-m " type="number" 
                   placeholder="ราคา" title="ราคา" 
                   <%= ['U'].includes(user.userAuthority) ? 'readonly' : '' %>
                   id="itemPrice" name="itemPrice" 
                   value="<%= isItem ? item.itemPrice : '' %>">
          </div>

          <!--  -->
          <div class="col-sm-2-5 input-group">
            <label class="pd-r-s">
              <i class="fas fa-balance-scale"></i>
              <span>หน่วย</span>
              <span class="fc-lime">*</span>
            </label>          
            <input class="al-c" type="text" 
                  placeholder="หน่วย" title="Unit"
                  <%= ['U'].includes(user.userAuthority) ? 'readonly' : '' %>
                  required
                  id="itemUnit" name="itemUnit" 
                  value="<%= isItem ? item.itemUnit : '' %>">
          </div>
          
            <!-- #4 -->
          <% if(['O','A'].includes(user.userAuthority)){ %>
          <div class="col-sm-5 input-group">
            <label class="pd-r-s">
              <i class="fas fa-image"></i>
              <span>อัปโหลดภาพ</span>
            </label>
            <input class="al-l pd-l-m " type="file" 
                  title="ไฟล์ภาพ .jpg, .jpeg, ไม่เกิน 10MB"
                  accept="image/jpeg, image/jpg"
                  id="itemImage" name="itemImage" >
          </div>
          <% } %>

          <!--  -->
          <!-- <div class="col-sm-3 input-group" id="dateCtn">
            <label class="pd-r-s" title="วันที่ลงทะเบียน">
              <i class="fas fa-calendar-alt"></i>
              <span>วันที่</span>
            </label>
            <input type="date" class="al-c bg-white" 
                   id="itemRegisterDateTh" name="itemRegisterDateTh"                   
                   value="<= isItem ? item.itemRegisterDate : '' >">
          </div> -->

        </div>


  
 
        <!-- #3 -->
        <!-- 
        <div class="row">
          <div class="col-8 input-group">
            <label class="pd-r-s">
              <i class="fas fa-align-left"></i>
              <span>รายละเอียด</span>
            </label>
            <input class="al-l pd-l-m " type="text" 
                   placeholder="รายละเอียด" title="รายละเอียด" 
                   <= ['U'].includes(user.userAuthority) ? 'readonly' : '' >
                   id="itemDesc" name="itemDesc" 
                   value="<= isItem ? item.itemDesc : '' >">
          </div>
        </div> 
        --> 


      </section>
  
      <!-- Image -->
      <section id="imageCtn">
        <div class="row">
          <div class="col-f al-c">
            <% if( isItem && item.itemImageDataUrl){ %>
              <a href="<%= PATH_VIEW %>/<%= item.itemImage %>" target="_blank">
                <img src="<%= item.itemImageDataUrl %>" alt="Item Image">
              </a>
            <% }else{ %>  
              <div class="al-c pd-t-xxl fc-ligray">ไม่มีภาพ</div>
            <% } %>  
          </div>
        </div>
      </section>
      
    </form>


    <!--  
    **********************************************************
    **********************************************************
    **********************************************************
    **************************** Search ***********************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- #4 : ค้นหา -->
    <form  class="bb2" id="searchForm" action="<%= PATH_MAIN %>" method="get">

      <!-- hidden -->
      <input type="hidden" name="loadId" value="<%= loadId %>">
      <input type="hidden" name="page" value="<%= pageAct %>">

      <!--  -->
      <div class="search-1 flex-row flex-nowarp">
        <button class="col-sm-1 btn-xlh btn-sm bg-search pd-l-l pd-r-l" type="submit">
          <i class="fas fa-search"></i>
        </button>
        <input class="col-sm-7 al-c clickable" type="search" autocomplete="off" 
               placeholder="ไอดี/ชื่อ/รายละเอียด"
               name="sip" value="<%= sip %>">
        <input class="col-sm-2 al-c" type="text" readonly value="<%= totalDocs %>">
      </div>

      <!--  -->
      <div class="search-2 flex-row flex-nowarp">

        <select class="col-sm-6-5 al-l" title="ค้นหาตามหมวดหมู่" id="scid" name="scid"  >
          <option value="">-</option>
          <% dataItemsCategories.forEach( obj => { %>
          <option value="<%= obj.categoryId %>" <%= obj.categoryId == scid ? 'selected' : ''  %>>
            [<%= obj.categoryId %>] <%= obj.categoryName %>
          </option>
          <% }) %>
        </select>

        <!-- ค้นหาตามสถานะ -->
        <select class="col-sm-3-5 al-c" title="ค้นหาตามสถานะ" id="sis" name="sis">
          <option value="">-</option>
          <option value="active" <%= sis == 'active' ? 'selected' : '' %>>active</option>
        </select>
      </div>

      <!-- แถว/หน้า -->
      <div class="search-3 flex-row flex-nowarp">
        <label class="col-sm-5 al-r pd-r-s">แถว/หน้า</label>
        <select class="col-sm-5 al-c" name="rpp" id="rpp" onchange="this.form.submit()">
          <option value="20" <%= rpp==20 ? 'selected' : '' %> >20</option>
          <option value="25" <%= rpp==25 ? 'selected' : '' %> >25</option>
          <option value="30" <%= rpp==30 ? 'selected' : '' %> >30</option>
          <option value="50" <%= rpp==50 ? 'selected' : '' %> >50</option>
          <option value="100" <%= rpp==100 ? 'selected' : '' %> >100</option>
          <option value="200" <%= rpp==200 ? 'selected' : '' %> >200</option>
          <option value="500" <%= rpp==500 ? 'selected' : '' %> >500</option>
          <!-- <option value="1000" <= rpp==1000 ? 'selected' : '' > >1000</option> -->
          <!-- <option value="2000" <= rpp==2000 ? 'selected' : '' > >2000</option> -->
        </select>
      </div>
      
    </form>
      

    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** Pagination ***********************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <section id="pgCtn">
      <%- include('partials/paginationItems.ejs' ) %>
    </section>

    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** Table ****************************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- Table -->
    <section class="table-ctn" id="tableCtn" >

      <colgroup>
        <col style="width: 1%;">
        <col style="width: 1%;">
        <col style="width: 1%;">
        <col style="width: auto;">
        <col style="width: auto;">
        <col style="width: auto;">
        <col style="width: auto;">
        <col style="width: auto;">
        <col style="width: 1%;">
      </colgroup>

      <table>
        <thead id="tableHeader">
          <tr>
            <th class="al-c"><i class="fas fa-edit"></i></th>
            <th class="al-c"><i class="fas fa-image"></i></th>
            <th class="al-c clickable" onclick="sortTableJs(this, 2)" title="สถานะ">
              <i class="fas fa-flag"></i>
            </th>
            <th class="al-c clickable" onclick="sortTableJs(this, 3)" title="ไอดี">
              <i class="fas fa-id-badge"></i>
            </th>
            <th class="al-c clickable" onclick="sortTableJs(this, 4)" title="ชื่อ">
              [<i class="fas fa-money-bill-wave"></i>]
              <i class="fas fa-font"></i>
            </th>
            <th class="al-c clickable" onclick="sortTableJs(this, 5)" title="หน่วย">
              <i class="fas fa-balance-scale"></i>
            </th>   
            <th class="al-c clickable" onclick="sortTableJs(this, 6)" title="หมวดหมู่">
              <i class="fas fa-layer-group"></i>
            </th>         
            <th class="al-c"><i class="fas fa-trash-alt"></i></th>
          </tr>
        </thead>

        <!--  -->
        <tbody id="tableContent">

          <% dataItems.forEach( (obj, index) => { %>
          <tr class="<%= index%2 == 0 ? 'bg-line-swap' : 'bg-main-color' %>">

            <% 
              const class1Color = obj.itemStatus == 'active' ? 'fc-blue' : 'fc-gray fx-x'
              const class2Color = obj.itemStatus == 'active' ? '' : 'fx-x'
              const class3Color = obj.itemStatus == 'active' ? 'fc-green' : 'fc-gray  fx-x'  
            %>

            <!-- 1 -->
            <!-- mg-t-s mg-b-s มีผลต่อความสูงของแถว -->
            <td class="al-c">
              <!--  -->
              <form action="<%= PATH_LOAD %>" method="post">
                <!-- hidden -->
                <input type="hidden" name="loadId" value="<%= obj.itemId %>">
                <input type="hidden" name="page" value="<%= pageAct %>">
                <input type="hidden" name="rpp" value="<%= rpp %>">
                <input type="hidden" name="sip" value="<%= sip %>">
                <input type="hidden" name="scid" value="<%= scid %>">
                <input type="hidden" name="sis" value="<%= sis %>">                
                <button class="mg-t-s mg-b-s pd-l-m pd-r-m pd-t-s pd-b-s <%= loadId ==  obj.itemId ? 'bg-load-active' : 'bg-load' %>"
                        title="<%= (page-1)*rpp+(index+1) %>"
                        type="submit">
                  <i class="fas fa-edit"></i>
                </button>
              </form>
            </td>
        
            <!-- 2 ✓ -->
            <td class="al-c">
              <% if(obj.itemImage){ %>
                <a href="<%= PATH_VIEW %>/<%= obj.itemImage %>" target="_blank">
                  <i class="fas fa-image"></i>
                </a>
              <% } else { %>
                <span class="fc-gray">-</span>
              <% } %>
            </td>

            <!-- 3 -->
            <td class="al-c <%= class3Color %>" title="<%= obj.itemStatus %>"><%- obj.itemStatus ? '&#10003;' : '-' %></td>
            
            <!-- 4 -->
            <td class="al-l pd-l-s nowrap t-itemId <%= class1Color %>" title="<%= obj.itemId %>">
              <%= obj.itemId %>
            </td>

            <!-- 5 -->
            <td class="al-l pd-l-s nowrap " title="<%= obj.itemName %>">
              <span class="<%= class3Color %>">[<%= obj.itemPrice %>]</span>
              <span class="<%= class2Color %>"><%= obj.itemName.length > 20 ? obj.itemName.substring(0, 20) + '...' : obj.itemName %></span>
            </td>

            <!-- 7 -->
            <td class="al-c <%= class2Color %>"><%= obj.itemUnit %></td>     

            <!-- 8 -->
            <td class="al-l pd-l-s <%= class2Color %>">
              <span class="fc-cornblue">[<%= obj.categoryId %>]</span>
              <span><%= obj.categoryName %></span>
            </td>               

            <!-- 9 -->
            <td class="al-c">
              <% if(obj.itemStatus == 'เบิก'){ %>
                <span class="fc-gray" title="ไอเท็มอยู่ในสถานะเบิก ลบไม่ได้">x</span>
              <% }else if(obj.isCanDelete && obj.canDelete != false ){ %>
                <form action="<%= PATH_DELETE %>"  method="post" class="al-c">
                  <!-- hidden -->
                  <input type="hidden" name="_id" value="<%= obj._id %>">
                  <input type="hidden" name="loadId" value="<%= loadId %>">
                  <input type="hidden" name="page" value="<%= pageAct %>">
                  <input type="hidden" name="rpp" value="<%= rpp %>">
                  <input type="hidden" name="sip" value="<%= sip %>">
                  <input type="hidden" name="scid" value="<%= scid %>">
                  <input type="hidden" name="sis" value="<%= sis %>">
                  <input type="hidden" name="itemIdToDelete" value="<%= obj.itemId %>">

                  <!-- btn-delete ใช้สำหรับ SWal -->
                  <button class="btn-delete btn-delete pd-l-m pd-r-m pd-t-s pd-b-s bg-delete"
                          type="submit"><i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              <% }else{ %>
                <span class="fc-gray">-</span>
              <% } %>
            </td>

          </tr>
          <% }) %>

        </tbody>
      </table>

    </section>  

  </main>

  <!--  -->
  <%- include('partials/footer') %>

  <!--  -->
  <script>
    var PATH_PRINT = `<%= PATH_PRINT %>` ;
    var PREFIX = `<%= PREFIX %>` ;
    var userAuthority = `<%= user.userAuthority %>` ;
  </script>
  <% if(!global.IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/items.js?v=<%= time %>"></script>
  <% } else { %>
  <script src="/js-min/items.obf.js"></script>
  <% }  %>

</body>
</html>

