
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fontsAnuphan.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flex.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/btngroup.css?v=<%= time %>">  
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">  
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/manageSettingsSystem.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/manageSettingsSystem.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <%- include('partials/notify.ejs', {msg:msg}) %> 
  <%- include('partials/nav.ejs') %>

  <main>

    <section class="pd-b-xl">
      <div class="pd-l">
        <h1 class="al-c">
          <i class="fas fa-cog mg-r-m"></i> 
          <span><%= title %></span>
        </h1>
      </div>
    </section>

    <!--  -->
    <form id="mainForm" autocomplete="off" 
          action="<%= PATH_SAVE %>" 
          method="post"
          onsubmit="createSpinner()">

      <!-- #Tab 1 : General -->      
      <section>

        <!-- DEPLOY -->
        <div class="rowg">
          <label class="colg-label mg-r-s" title="DEPLOY">DEPLOY</label> 
          <select class="colg-2 pd-l-m" id="DEPLOY" name="DEPLOY">
            <option value="0" <%= (data && data.DEPLOY == 0) ? 'selected' : '' %>>0 - Development</option>
            <option value="1" <%= (data && data.DEPLOY == 1) ? 'selected' : '' %>>1 - Production</option>
          </select>

          <!--  -->
          <label class="colg-3 mg-r-s" title="PORT_SERVER">PORT_SERVER</label> 
          <input class="colg-4 pd-l-m al-c" type="number" id="PORT_SERVER" 
                 name="PORT_SERVER" id="PORT_SERVER" 
                 value="<%= data?.PORT_SERVER ?? '' %>"
                 placeholder="PORT_SERVER"
                 <%= userAuthority != 'O' ? "readonly" : "" %> >

          <!--  -->
          <label class="colg-5 mg-r-s" title="PORT_DEV">PORT_DEV</label> 
          <input class="colg-6 pd-l-m al-c" type="number" id="PORT_DEV" 
                 name="PORT_DEV" id="PORT_DEV" 
                 value="<%= data?.PORT_DEV ?? '' %>"
                 placeholder="PORT_DEV"
                 <%= userAuthority != 'O' ? "readonly" : "" %> >
        </div> 

        
        <!-- LOCALHOST_ALLOW -->
        <div class="rowg">
          <label class="colg-label mg-r-s" title="LOCALHOST_ALLOW">LOCALHOST_ALLOW</label> 
          <input class="colg-2-f pd-l-m" type="text" 
                 name="LOCALHOST_ALLOW" id="LOCALHOST_ALLOW" 
                 value="<%= data?.LOCALHOST_ALLOW ?? '' %>"
                 placeholder="LOCALHOST_ALLOW">
        </div>

        <!-- DOMAIN_ALLOW -->
        <div class="rowg">
          <label class="colg-label mg-r-s" title="DOMAIN_ALLOW">DOMAIN_ALLOW</label> 
          <input class="colg-2-f pd-l-m" type="text" 
                 name="DOMAIN_ALLOW" id="DOMAIN_ALLOW" 
                 value="<%= data?.DOMAIN_ALLOW ?? '' %>"
                 placeholder="DOMAIN_ALLOW">
        </div>

      </section>

      <!-- Buttons/Save -->
      <section class="pd-l pd-b-xxl">
        <div class="row <%= userAuthority != 'O' ? 'dp-n' : '' %>">
          <label class="col-33"></label>
          <div class="col-33 btn-group">
            <input type="button" id="btnSave"  class="btn-show bg-save lh-label" value="Save"
                   onclick="onBtnClicked(this,'ON')">
            <input type="submit" id="btnSaveConfirm" class="btn-confirm lh-label" value="Confirm">
            <input type="button" id="btnSaveCancel"  class="btn-cancel lh-label" value="Cancel"
                   onclick="onBtnClicked(this,'CANCEL')">
          </div>
        </div>        
      </section>

    </form>

    <hr class="mg-xl bb3">

    <!-- FORM#2 : Restart -->
    <!-- 
    <% if(userAuthority == 'O') { %>
    <section class="pd-l pd-b-xxl">
    <div class="row">
      <label class="col-33"></label>
      <form class="col-33"  id="restartForm" class=" mt-1" autocomplete="off"
            onsubmit="createSpinner()"
            action="<%= PATH_RESTART_PM2 %>" method="post">
            <div class="btn-group">
              <input type="button" id="btnSave"  class="btn-show bg-clear lh-tb" value="Restart PM2"
                      onclick="onBtnClicked(this,'ON')">
              <input type="submit" id="btnSaveConfirm" class="btn-confirm  lh-tb" value="Confirm">
              <input type="button" id="btnSaveCancel"  class="btn-cancel  lh-tb" value="Cancel"
                    onclick="onBtnClicked(this,'CANCEL')">
            </div>
      </form>
      </div>
    </div>
    </section> 
    <% } %>
    -->

    <!-- FORM#2 : Restart -->
    <!-- 
    <form id="restartForm" class="my-form-dark mt-1" autocomplete="off"
          onsubmit="createSpinner()"
          action="<%= PATH_RESTART_NODE %>" method="post">
      <section class="card">
        <h5 class="card-header d-flex justify-content-between ps-2 pe-0">
          <div></div>
          <button type="button" class="btn btn-warning me-2 w-20" id="btnRestartNode">
            <i class="fas fa-sync-alt"></i> Restart NODE
          </button>
          <button type="submit" class="btn btn-danger me-2 w-20 d-none" id="btnConfirmRestartNode">
            <i class="fas fa-exclamation-triangle"></i> Confirm
          </button>
          <div></div>
        </h5>
      </section>
    </form


  </main>

  <!--  -->
  <%- include('partials/footer') %>

  <!--  -->
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/notify.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/manageSettingsSystem.obf.js?v=<%= time %>"></script>
  <% }  %>
</body>
</html>

